@media only screen and (max-device-width: 900px) {
     body { width:100%; }
    }
strong{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    height: 50vh;
    width: auto;
    padding: 10px;
}
strong.a{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 100px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
span.b{
    display: inline-block;
    vertical-align: top;
    width: 230px;
    height: 100px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightslategrey;
}
input{
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 50px;
    background-color: rgb(59, 56, 56);
    color: white;
}
p{
    text-align: center;
    color: gray;
}